<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Préstamos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="background-color: rgb(217, 206, 213);">
    <div class="container">
        <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#prestamosRegistro">Registrar Préstamo</button>
        <div class="tabla">
        <div class="tabla">
            <table class="table table-bordered border-dark mt-3 text-center">
                <thead class="table table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Id Usuario</th>
                        <th scope="col">Bibliotecario</th>
                        <th scope="col">Id Libro</th>
                        <th scope="col">Fecha Préstamo</th>
                        <th scope="col">Fecha Devolución</th>
                        <th scope="col">Estado Libro</th>
                        <th scope="col">Renovación</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table table-secondary">
                    <tr>
                        <td>1</td>
                        <td>001</td>
                        <td>Robinson</td>
                        <td>01</td>
                        <td>21/03/2024</td>
                        <td>24/03/2024</td>
                        <td>Prestado</td>
                        <td>Si</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#prestamosEditar" >Editar</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#prestamosEliminar">Eliminar</button>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#prestamosDetalles">Detalles</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Registrar -->
    
    <div class="modal fade" id="prestamosRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="prestamosRegistro">Registrar Préstamo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="form-label"  for="">Id Usuario</label>
                        <input class="form-control mb-3"  type="text" >
                    </div>
                    <div>
                        <label class="form-label"  for="">Bibliotecario</label>
                        <input class="form-control mb-3"  type="text" >
                    </div>
                    <div>
                        <label class="form-label"  for="">Id Libro</label>
                        <input class="form-control mb-3"  type="text">
                    </div>
                    <div>
                        <label class="form-label"  for="">Fecha Préstamo</label>
                        <input class="form-control mb-3"  type="text">
                    </div>
                    <div>
                        <label class="form-label"  for="">Fecha Devolución</label>
                        <input class="form-control mb-3"  type="text">
                    </div>
                    <div>
                        <label class="form-label"  for="">Estado Libro</label>
                        <input class="form-control mb-3"  type="text">
                    </div>
                    <div>
                        <label class="form-label"  for="">Renovación</label>
                        <input class="form-control mb-3"  type="text">
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#prestamosRegistroConfirmacion">Confirmar Registro</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmación Registro-->

    <div class="modal fade" id="prestamosRegistroConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registroConfirmacion">Registro Exitoso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    El préstamo ha sido registrado correctamente
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar -->

    <div class="modal fade" id="prestamosEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="prestamosEliminar">Precaución</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Estás seguro que deseas eliminar este préstamo?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#prestamosEliminarConfirmacion">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmación Eliminar-->

    <div class="modal fade" id="prestamosEliminarConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="prestamoseliminarConfirmacion">Eliminado exitosamente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    El préstamo ha sido eliminado correctamente
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Editar-->

    <div class="modal fade" id="prestamosEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="usuariosEditar">Editar Préstamo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="form-label"  for="">Id Usuario</label>
                        <input class="form-control mb-3"  type="text" value="001">
                    </div>
                    <div>
                        <label class="form-label"  for="">Bibliotecario</label>
                        <input class="form-control mb-3"  type="text" value="Robinson">
                    </div>
                    <div>
                        <label class="form-label"  for="">Id Libro</label>
                        <input class="form-control mb-3"  type="text" value="01">
                    </div>
                    <div>
                        <label class="form-label"  for="">Fecha Préstamo</label>
                        <input class="form-control mb-3"  type="text" value="21/03/2024">
                    </div>
                    <div>
                        <label class="form-label"  for="">Fecha Devolución</label>
                        <input class="form-control mb-3"  type="text" value="24/03/2024">
                    </div>
                    <div>
                        <label class="form-label"  for="">Estado Libro</label>
                        <input class="form-control mb-3"  type="text" value="Prestado">
                    </div>
                    <div>
                        <label class="form-label"  for="">Renovación</label>
                        <input class="form-control mb-3"  type="text" value="Si">
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#prestamosEditarConfirmacion">Actualizar Préstamo</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmación Editar-->

    <div class="modal fade" id="prestamosEditarConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editarConfirmacion">Actualizado exitosamente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    El préstamo ha sido actualizado correctamente
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Detalles--->

    <div class="modal fade" id="prestamosDetalles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="prestamosDetalles">Detalles del Préstamo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            Id Usuario: 001 <br><br>
                            Bibliotecario: Robinson <br><br>
                            Id Libro: 01 <br><br>
                            Fecha Préstamo: 21/03/2024 <br><br>
                        </div>
                        <div class="col-md-6">
                            Fecha Devolución: 24/03/2024 <br><br>
                            Estado Libro: Prestado <br><br>
                            Renovación: Si <br><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>