<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Libros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal"  >Registrar Libro</button>
        <div class="tabla">
            <table class="table table-bordered border-dark mt-3 text-center">
                <thead class="table table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Portada</th>
                        <th scope="col">Título</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Género</th>
                        <th scope="col">Fecha de Publicación</th>
                        <th scope="col">Copias Disponibles</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr>
                        <td>01</td>
                        <td>
                            <img class="img-fluid" src="https://images.cdn1.buscalibre.com/fit-in/360x360/03/0a/030a419b5cbfda84843b6b9fdc5d8273.jpg" alt="" width="25px" height="25px">
                        </td>
                        <td>It</td>
                        <td>Stephen King</td>
                        <td>Terror</td>
                        <td>1986</td>
                        <td>10</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Usuarios" asp-action="Edit" asp-route-id="001">Editar</a>
                            <a class="btn btn-danger" asp-controller="Usuarios" asp-action="Delete" asp-route-id="001">Eliminar</a>
                            <a class="btn btn-info" asp-controller="Usuarios" asp-action="Show" asp-route-id="001">Detalles</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* modal de registrarse *@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>